/build/
*.cmake
CMakeFiles/
CMakeCache.txt
Makefile
cmake_install.cmake
.cache/clangd/index

*.o
*.a
*.so
*.exe
*.out

*.tmp
*.log
*.swp

/.idea/
/.vscode/
/*.suo
/*.user
/*.ncb

*.config

*.dSYM
*.orig
*.rej
*.class
